                      <h1>RentArt</h1>

<h3>Question posée pour l'article <%= @product.title %></h3>

<p>
  L'utilisateur <%= @question.asker %> vous a posé la question
  suivante :
</p>

<p>
  "<%= @question.question %>"
</p>
