                      <h1>RentArt</h1>

<h3>Confirmation de Location  : <%= @product.title %></h3>

<p>
 <%= @tenant.firstname %> votre demande de location de  <%= @product.title %> à été rejeté
 par l'utilisateur.
</p>
