<table border='1'>
	<tr>
		<td><img src="" title="img" /></td>
		<td>
			<table>
				<tr>
					<td><%= @product.title %></td>
				</tr>
				<tr>
					<td><%= @product.description %></td>
				</tr>
				<tr>
					<td><%= @product.renter %></td>
					<td><%= @product.price %></td>
				</tr>
				<tr>
					<td><input type="submit" value="Louer l'article" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<!--<table>
	<th>Question(s) : </th>
	<th><button value="Poser une question" /></th>

	<% #questionsProduct do |question| %>
		<tr>
			<td>Pseudo</td>
			<td>Question</td>
		</tr>
	<% #end %>
</table>-->
